.container__flex {
  display: flex;
}

.container__flex--columns {
  flex-direction: column;
}

.container__flex--split {
  justify-content: space-between;
}

.stretch {
  flex: 1 1 auto;
}

.container__center--all {
  justify-content: center;
  align-items: center;
}