@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('flex.css');
@import url('forms.css');
@import url('breakpoints.css');

:root {
  --main-bg-color: #b2fab4;
  --dark-bg-color: #81c784;
  --main-font-weight: 400;
  --sub-font-weight: 300;
  --label-gap: 0.5em;
  --main-font-size: 17px;
}

body, html {
  background-color: var(--main-bg-color);
  min-width: 360px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
}


/* font styles */
.title {
  font-size: 1.6em;
}

.subtitle {
  font-size: 1.1em;
}

body, .form, .title, .subtitle {
  font-weight: var(--main-font-weight);
}

.text-small {
  font-size: 0.7em;
}

.text-thin {
  font-weight: var(--sub-font-weight);
}


/* layout styles and colors */
main {
  background-color: white;
  width: 80%;
  margin: auto;
  position: relative;
  bottom: 8em;
  max-width: 750px;
  z-index: 2;
}

.overlay {
  background-color: var(--dark-bg-color);
  z-index: 1;
  width: 100%;
  height: 28vw;
}

.required {
  color: red;
}

.footer {
  width: 100%;
  min-height: 85px;
  margin-top: 50px;
  background-color: #81c784;
  color: white;
}

.footer a {
  text-decoration: none;
  color: #fff9c4;
}

.footer a:hover {
  color: #fffbe0;
}