/* mobile */
@media screen and (max-width: 480px) {
  .title--header {
    font-size: 13.5vmin;
  }

  .subtitle--header {
    font-weight: 400;
    font-size: 4vmin;
  }
}

/* Tablet, Desktop and above */
@media screen and (min-width: 480px) {
  .form-group__email.grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}


@media screen and (min-width: 768px) {
  .navbar {
    min-height: 2.5em;
  }

  .navbar .navbar-menu {
    display: flex;
  }

  .navbar-brand {
    flex: 0 0 auto;
  }

  .navbar-burger {
    display: none;
  }
}