/* mobile */
@media screen and (max-width: 480px) {
  .title--header {
    font-size: 13.5vmin;
  }

  .subtitle--header {
    font-weight: 400;
    font-size: 5.3vmin;
  }
}

@media screen and (max-width: 768px) {
  .footer__section, .contact-us, .social {
    text-align: center;
  }
}

/* Tablet, Desktop and above */
@media screen and (min-width: 480px) {
  div.form-group__email.grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 640px) {
  .card.grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .card__content {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    min-height: 3.5em;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.24);
  }

  .navbar-brand {
    box-shadow: none;
  }

  .navbar .navbar-menu {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-burger {
    display: none;
  }

  .navbar.grid {
    grid-template-columns: 1fr 4fr;
  }

  .container__section {
    width: 100%;
  }

  div.map.flex--column {
    align-items: flex-start;
  }

  .contact-us, .social {
    padding-left: 3em;
    padding-right: 3em;
  }
}