/* mobile */
@media screen and (max-width: 480px) {
  .title--header {
    font-size: 14vmin;
  }

  .subtitle--header {
    font-weight: 400;
    font-size: 6vmin;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    min-height: 2.5em;
  }

  .navbar .navbar-menu {
    display: flex;
  }

  .navbar-brand {
    flex: 0 0 auto;
  }

  .navbar-burger {
    display: none;
  }
}