.cards.grid {
  grid-gap: 1.5em;
}

.card.grid {
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
}

.card .card__img {
  display: flex;
  justify-content: center;
}

.card__description {
  font-weight: 300;
}

.card__img img {
  width: 128px;
  height: 128px;
}

.card__content {
  text-align: center;
}

.instruments.grid {
  grid-template-columns: repeat(auto-fit, 14em);
  grid-gap: 1.5em;
  justify-content: center;
}

.instrument figure {
  margin: 0;
  padding: 0;
}