.navbar {
  min-height: var(--navbar-height);
  z-index: 1;
  width: 100%;
  background-color: white;
  position: fixed;
}

.navbar-brand {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.24);
  height: 3.5em;
  justify-content: space-between;
}

.navbar-burger {
  cursor: pointer;
  min-width: 3em;
  height: 100%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.navbar-burger:hover {
  background-color: var(--default-grey);
}

.navbar-burger span {
  height: 1px;
  background-color: var(--default-black);
  width: 1.1em;
  margin: 0.1em;
}

.navbar-item {
  height: 100%;
  min-height: 3em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.navbar-item {
  text-decoration: none;
  color: var(--default-black);
}

a.navbar-item:hover, a.navbar-item:hover > p {
  color: rgb(112, 112, 112);
  background-color: #fbfbfb;
}

.navbar .navbar-menu {
  display: none;
}

.navbar-menu.navbar-menu--active {
  display: flex;
  flex-direction: column;
}

.navbar-menu .navbar-item {
  border-bottom: 1px solid rgba(231, 231, 231, 0.24);
}