@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('flex.css');
@import url('grid.css');
@import url('font.css');
@import url('header.css');
@import url('navbar.css');
@import url('form.css');
@import url('card.css');
@import url('breakpoints.css');


:root {
  --default-black: #222; 
  --default-grey: #eee;
  --default-red: #ef5350;
}

html, body {
  font-family: 'Merriweather', serif;
  min-height: 100vh;
  font-size: 1em;
  font-weight: 400;
  color: var(--default-black);
  letter-spacing: 0.075em;
  line-height: 1.5em;
}

body {
  width: 100%;
  height: 100%;
}

body > div.wrapper {
  min-height: 100vh;
}

.section {
  width: 100%;
  max-width: 50em;
  min-height: 3em;
  padding: 3em 0 3em 0;
}

.container__section {
  margin: 0 2.5em 0 2.5em;
}

.main {
  background-color: #ffffff;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section {
  padding: 2em 0 2em 0;
  width: 100%;
  min-height: 50px;
}

.title--section + div {
  margin-top: 4em;
} 

.footer {
  min-height: 3em;
  background-color: var(--default-grey);
}